*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:  -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
 
}

body{
  background-color: aquamarine;
}
.container{
  background-color: white;
 box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.308);
  width: 40%;
  margin: 1rem auto;
}
.card{
  display: flex;
  gap: 2rem;
  margin: 2rem;
  border: 1px solid grey;
}
.card:hover{
  border: 2px solid gray;
  transform: scale(110%);
}
img{
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}
.head{
  text-align: center;
}
.header{
  letter-spacing: 0.1rem;
  line-height: 1.25;
  font-size: 1.5rem;
}
.button-container{
  display: flex;
  justify-content: center;
  gap: 2rem;
 
}
button{
  padding: 0.8rem 1.5rem;
  background-color: fuchsia;
  color: white;
  outline: none;
  border-radius: .5rem;
  border: none;
  margin-bottom: 0.5rem;
}
button:active{
  transform: scale(108%);
}
.email,
.age{
  color: gray;
}

@media screen and (max-width:500px) {
  .container{
    width: 90%;
    margin: 1rem auto;
  }
  .card{
    margin: 1rem 0;
    font-size: 0.8rem;
  }
}

@media screen and (min-width:500px) and (max-width:990px) {
  .container{
    width:80%;
  }
}